@font-face { font-display: swap; font-family: "FontAwesome"; src: url("fontawesome-webfont-minimaal.woff2"); }
* { box-sizing: border-box; }
a { color: inherit; }
a:focus { background-color: #ffb; outline: none; }
a:hover { background-color: #ffb; }
a:target { color: #c00; }
blockquote { font-style: italic; margin: 0 0 0 2rem; }
body { background-color: #ffe; line-height: 1.5rem; margin: 0 5vw; }
dl { line-height: 1.5rem; }
dt { font-weight: bold; margin-left: -0.5rem; padding-left: 0.5rem; }
dt:target, dt:target + dd { color: #c00; }
footer { border-top: 1px solid #666; padding: 1rem 0; }
header { border-bottom: 1px solid #666; font-size: x-large; font-weight: bold; line-height: 1.3rem; overflow: hidden; padding: 0.5rem 0; white-space: nowrap; }
h1 { display: inline; font-size: large; }
h1:before { content: "\20\2014\20"; }
html { font-size: 18px; }
img { border: 0; vertical-align: top; }
main { overflow: auto; margin: 1rem 0; }
p { text-align: justify; }
sup { line-height: 0; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0.1rem 0.2rem; vertical-align: top; }
ul { margin: 0; padding: 0; }
.bladzijde p { margin: 0; }
.bladzijde p.ruimteboven { margin-top: 1rem; }
.couplet { margin: 1rem 0 1rem 6rem; }
.coupletingesprongen { margin-left: 3rem; }
.coupletmeeringesprongen { margin-left: 10rem; }
.bladzijden { display: flow-root; max-width: 100%; overflow: auto; }
.bladzijden > ul > li > div { display: flex; width: 35.5rem; }
.bladzijden > ul > li > div > a { width: 10rem; }
.bladzijden > ul > li > div > div > ol { display: flex; list-style-type: none; margin: 0; padding: 0; }
.bladzijden > ul > li > div > div > ol > li { opacity: 0.5; width: 2rem; }
.bladzijden > ul > li > div > div > ol > li:last-child { text-align: right; width: 5.5rem; }
.bladzijden > ul > li > div > div > ol > li > a { display: block; padding-right: 0.2rem; text-align: right; width: 100%; }
.bladzijdenummereven { text-align: left; }
.bladzijdenummeroneven { text-align: right; }
.buurvolgende, .buurvorige { font-size: 0; text-decoration: none; }
.buurvolgende:before { content: "\f138"; color: #c00; font-family: "FontAwesome"; font-size: large; }
.buurvorige:after { content: "\f137"; color: #c00; font-family: "FontAwesome"; font-size: large; }
.commentaar { opacity: 0.5; }
.hoofdmenu { margin-top: 1rem; }
.hoofdmenu > ul { padding-left: 2rem; }
.hoofdmenu > h2 { font-size: large; margin: 0.5em 0 0; }
.hoofdplaatje { display: block; height: auto; margin: 0 auto 1rem auto; max-width: 30rem; width: 100%; }
.hoofdstuk:first-letter { float: left; font-size: 6rem; line-height: 4.5rem; padding: 0.2rem 0.2rem 0 0; }
.index > p { margin: 0; }
.inhoudsopgave { white-space: nowrap; width: 100%; }
.logo { height: 1rem; vertical-align: middle; width: auto; }
.commentaar { opacity: 0.5; }
.noot { opacity: 0.5;}
.noten { font-style: italic; list-style: none; margin-top: 0.5rem; padding: 0;}
.romeins { list-style-type: upper-roman; }
.scherts { border: 1px solid #666; border-radius: 0.3rem; margin: 1rem 0; padding: 0.5rem; }
.seizoenherfst { background-color: #fc9; }
.seizoenlente { background-color: #cfc; }
.seizoenwinter { background-color: #fff; }
.seizoenzomer { background-color: #ff9; }
.spelling { list-style: none; }
.spellingen { padding: 0; }
.spellingfout { color: #c00; }
.spellinggoed { color: #090; }
.sterren { margin: 1rem 0; text-align: center; }
.tekeningen > li { display: inline-block; list-style: none; margin: 0 1rem 1rem 0; }
.tekeningen > li > a { display: block; }
.tekeningen > li > a > img { height: 20rem; width: auto; }
.tekstgroot0 { font-weight: bold; margin: 1rem 0; }
.tekstgroot1 { font-size: large; font-weight: bold; margin: 1rem 0; }
.tekstgroot2 { font-size: x-large; font-weight: bold; margin: 1rem 0; }
.tekstgroot3 { font-size: xx-large; font-weight: bold; margin: 1rem 0; }
.tekstrood { color: #f00; }
.tekstuitlijningmidden { text-align: center; }
.tekstuitlijningrechts { text-align: right; }
.testament { list-style-type: none; }
.uitgaven td, .uitgaven th { border: 1px dashed #eee; }
.uitgavekaft { background-color: #ccc; height: 528px; padding-top: 1rem; width: 327px; }
.verhalen { list-style-type: disc; padding-left: 2rem; }
.verwijzingbijbel { text-decoration: none; }
.verwijzingbijbel:after { content: "\f02d"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzingbladzijde { text-decoration: none; }
.verwijzingbladzijde:after { content: "\f016"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; margin: 0 0.1rem 0 0.1rem; position: relative; top: -0.4rem; }
.verwijzingdbnl { text-decoration: none; }
.verwijzingdbnl:after { content: "\f097"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzingextern { text-decoration: none; }
.verwijzingextern:after { content: "\f08b"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.8rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzingheilige { text-decoration: none; }
.verwijzingheilige:after { content: "\f067"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzinghodja { text-decoration: none; }
.verwijzinghodja:after { content: "\f24e"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzinginhoudsopgave { text-decoration: none; }
.verwijzinginhoudsopgave:after { content: "\f0cb"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzingintern { text-decoration: none; }
.verwijzingintern:after { content: "\f090"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzingpersoon { text-decoration: none; }
.verwijzingpersoon:after { content: "\f2c0"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzingspreuk { text-decoration: none; }
.verwijzingspreuk:after { content: "\f27b"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzingtekening { text-decoration: none; }
.verwijzingtekening:after { content: "\f040"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzingtestament { text-decoration: none; }
.verwijzingtestament:after { content: "\f0f6"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzingwikipedia { text-decoration: none; }
.verwijzingwikipedia:after { content: "\f266"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.5rem; height: 0.5rem; position: relative; top: -0.4rem; }
.verwijzingwoord { text-decoration: none; }
.verwijzingwoord:after { content: "\f15d"; opacity: 0.5; display: inline-block; font-family: "FontAwesome"; font-size: 0.6rem; height: 0.5rem; margin: 0 0 0 0.1rem; position: relative; top: -0.4rem; }
.woorden > dd { margin-left: 10rem; }
.woorden > dt { float: left; width: 10rem; }
