@page {
  padding: 2em;
}
body {
  display: block;
  font-family: serif;
  font-size: 15px;
  line-height: 1.3;
  padding: 0;
}
em {
  font-style: italic;
}
img {
  display: block;
  margin: 0 auto;
}
p {
  clear: right;
  display: block;
  text-align: justify;
  margin: 0;
}
h2 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 1em 0;
}
h3 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}
.couplet {
  display: block;
  text-align: justify;
  margin: 1em 0 1em 6em;
}
.coupletingesprongen {
  margin-left: 3em;
}
.coupletmeeringesprongen {
  margin-left: 10em;
}
.inhoudbladzijdenummer {
  float: right;
}
.ruimteboven {
  display: block;
  text-align: justify;
  margin: 1em 0 0;
}
.tekstgroot0 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0;
}
.tekstgroot1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0;
}
.tekstgroot2 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0;
}
.tekstgroot3 {
  display: block;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0;
}
.tekstrood {
  color: #f00;
}
.tekstuitlijningmidden {
  display: block;
  text-align: center;
  margin: 0;
}
.tekstuitlijningrechts {
  display: block;
  text-align: right;
  margin: 1em 0 0;
}
.hoofdstuk:first-letter {
  float: left;
  font-size: 6em;
  line-height: 0.3em;
  padding: 0.1em 0.1em 0.1em 0;
}
.voorkant {
  height: auto;
  width: 100%;
}
.tekening {
  height: auto;
  width: 100%;
}
.brevierend {
  height: auto;
  width: 20%;
}
